
         <div class="row">
            <form action="/action_page.php">
              <div class="form-group">
                  <div class="col-xs-7">
                <label for="product">Product Name:</label>
                <input type="text" class="form-control" id="product">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-7">
                <label for="category">Category:</label>
                <input type="text" class="form-control" id="category">
                </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-7">
                  <label for="Year">Year:</label>
                  <input type="number" class="form-control" id="Year">
                  </div>
                </div>
              <div class="form-group">
                  <div class="col-xs-7">
                  <label for="Size">Size:</label>
                  <input type="number" class="form-control" id="Size">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-7">
                  <label for="Alcohol">Alcohol:</label>
                  <input type="number" class="form-control" id="Alcohol">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-7">
                  <label for="Paired with">Paired with:</label>
                  <input type="text" class="form-control" id="Paired with">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-7">
                  <label for="Short description">Short description:</label>
                  <input type="text" class="form-control" id="Short description">
                  </div>
              </div>
            <div class="form-group form-group-lg">
                <div class="col-xs-7">
                <label for="inputlg">Long description:</label>
                <input type="text" class="form-control" id="Long description">
                </div>
            </div>
          </form>
            <div class="row">
              <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                    <div class="col-xs-7">
                  <label for="Country">Country*:</label>
                  <input type="text" class="form-control" id="Country">
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-7">
                  <label for="State">State*:</label>
                  <input type="text" class="form-control" id="State">
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-7">
                  <label for="Price">Price*:</label>
                  <input type="text" class="form-control" id="State">
                  </div>
                </div>
                <div class="col-xs-7">
                <button type="add" class="btn btn-default">Add</button>
                </div>
              </form>
